INCLUDE options/options.makejail

PKG py%%PYVER%%-glances py%%PYVER%%-bottle

COPY usr

CMD pw useradd -n glances -c "An eye on your system" -d /var/db/glances -s /bin/sh
CMD mkdir -p /var/db/glances
CMD chown glances:glances /var/db/glances
